.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%; /* Place the tooltip above the image */
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
}

.tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.per_form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p-1 {
    width: 25%;
    padding: 6px 5px;
}
.p-2 {
    width: 50%;
    padding: 6px 5px;
}
.p-4 {
    width: 100%;
    padding: 6px 5px;
}

.info-common, .info-professional-level, .info-health-condition {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 15px;
}

.info-professional-level, .info-health-condition {
    margin-top: 20px;
}

.form__title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
}

.text-red-600 {
    font-weight: 600;
    color: #dc2626;
    margin-right: 2px;
}

.form-group__lable {
    font-size: 14px;
    line-height: 1.6;
    color: #128080;
}

input.form-input, input.input--not-edit {
    border:none;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    padding: 8px;
    background-color: ghostwhite;
  }
  
input.form-input:focus {
    outline: 2px solid var(--text-primary);
}

input.disable {
    background-color: ghostwhite;
}
